/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Roboto:wght@300&family=Spline+Sans+Mono&display=swap');

.calculator {
    padding: 10px;
    border-radius: 1em;
    height: 500px;
    width: 450px;
    margin: 50px auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 80%;
    font-size: 22px;
    padding: 5px 0px 5px 10px;
    margin-bottom: 6px;
}

.button {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 110px;
    border-radius: 5px;
    height: 70%;
    outline: none;
    font-size: 18px;
    padding: 10px;
}

.button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.button:hover {
    background-color: white;
    color: blue;
}

.extra {
    background-color: #fb0066;
}

.main {
    background-color: white;
    color: black;
}

.comp {
    text-align: center;
    color: white;
    font-size: 18px;
}